#set($searchQuery = $ctx.args.query)

#set($result = [])
#foreach($item in $util.dynamodb.scan("RestaurantTable", "name contains :searchQuery", { ":searchQuery": { "S": $searchQuery } }))
    #set($itemData = {})
    $util.qr($itemData.put("id", $item.id.S))
    $util.qr($itemData.put("name", $item.name.S))
    $util.qr($itemData.put("description", $item.description.S))
    $util.qr($itemData.put("price", $item.price.N))
    $util.qr($result.add($itemData))
#end

$util.toJson($result)