.container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-item {
  flex: 0 0 50%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .restaurant-item {
    flex-basis: 100%;
  }
}

.name {
  font-weight: 900;
}

.details {
  color: gray;
  font-size: 40;
}
