.amplify-signin-header h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Custom footer styles */
  .amplify-signin-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .amplify-signin-footer a {
    color: 007bff;
    text-decoration: none;
    margin-left: 10px;
  }